AutoSave/
Recover/
RecentlyUsed.dat
Backups/
ExecutionResults/
HTMLReports/
BusinessFlows/Cache/
RunSetConfigs/Cache/
SharedRepository/Activities/PrevVersions/
SharedRepository/Actions/PrevVersions/
SharedRepository/Variables/PrevVersions/
SharedRepository/ActivitiesGroup/PrevVersions/
SharedRepository/Activities/PrevVerions/
SharedRepository/Actions/PrevVerions/
SharedRepository/Variables/PrevVerions/
SharedRepository/ActivitiesGroup/PrevVerions/